{% block form_row %}
    <div class="form__row {{ attr.class is defined ? attr.class : '' }}">
        {{ form_label(form, null, {label_attr: {class: 'form-label'}}) }}
        {{ form_errors(form) }}
        {{ form_widget(form, {attr: {class: 'form-control'}}) }}
    </div>
{% endblock %}

{% block collection_widget %}
    <div class="form__widget">
    <div
            data-form-collection="{{ form.vars.name }}"
            data-index="{{ form|length > 0 ? form|last.vars.name + 1 : 0 }}"
            data-prototype="{{ form.vars.prototype is defined ? form_widget(form.vars.prototype)|e('html_attr') : false }}"
>

        {% for item in form %}
            <div>
                {{ form_row(item) }}
            </div>
        {% endfor %}

    </div>
    <button
            type="button"
            class="btn btn-success"
            data-collection-holder-class="{{ form.vars.name }}"
    >
        Add to {{ form.vars.name|replace({'_': ' '})|title }}
    </button>
    </div>
{% endblock %}