<div class="card">
    <div class="card-header">Weapons</div>
    <div class="list-group list-group-flush">
        <div class="list-group-item">
            <div class="row">
                <div class="col-4">Name</div>
                <div class="col-3">Ability</div>
                <div class="col-2">+/-</div>
                <div class="col-3">Dice</div>
            </div>
        </div>
        {% for weapon in weapons %}
            <div class="list-group-item">
                <div class="row">
                    <div class="col-4">{{ weapon.name }}</div>
                    <div class="col-3">{{ weapon.modifier_ability.value|title }}</div>
                    <div class="col-2">{{ weapon.modifier }}</div>
                    <div class="col-3">{{ weapon.dice_count }}d{{ weapon.dice_type }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
