{{ form_start(form, { attr: { class: 'row' } }) }}
<div class="col-12">
    {{ form_errors(form) }}
</div>
{{ form_row(form._token) }}
<div class="col-3">
    <div class="card">
        <div class="card-body">
            {{ form_row(form.name) }}
            {{ form_row(form.species) }}
            {{ form_row(form.species_extra) }}
            {{ form_row(form.levels) }}
        </div>
    </div>
</div>
<div class="col-3">
    <div class="card">
        <div class="card-body">
            {{ form_row(form.armour_class) }}
            {{ form_row(form.proficiency_bonus) }}
            {{ form_row(form.speed) }}
            {{ form_row(form.weapons) }}
            {{ form_row(form.armours) }}
        </div>
    </div>
</div>
<div class="col-3">
    <div class="card">
        <div class="card-body">
            {{ form_row(form.current_hit_points) }}
            {{ form_row(form.max_hit_points) }}
            {{ form_row(form.temporary_hit_points) }}
            {{ form_row(form.hit_dice_type) }}
            {{ form_row(form.current_hit_dice) }}
            {{ form_row(form.max_hit_dice) }}
        </div>
    </div>
</div>
<div class="col-3">
    <div class="card">
        <div class="card-body">
            {{ form_row(form.abilities) }}
        </div>
        <div class="card-body">
            {{ form_row(form.skills) }}
        </div>
        <div class="card-body">
            {{ form_row(form.passive_perception) }}
        </div>
    </div>
</div>
<div class="col-12">
    {{ form_row(form.submit, { attr: {class: 'btn btn-success'}}) }}
</div>
