{% extends 'base.html.twig' %}

{% block body %}
    <div class="character-index">

    <a class="btn btn-check" href="{{ path('character.create') }}">Add</a>
        <table class="table">
        <thead>
            <tr>
                <th class="character-index__column character-index__column--slug">Slug</th>
                <th class="character-index__column character-index__column--name">Name</th>
                <th class="character-index__column character-index__column--main-class">Main Class</th>
                <th class="character-index__column character-index__column--current-hp">Current HP</th>
                <th class="character-index__column character-index__column--actions">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for character in characters %}
            <tr>
                <td>{{ character.slug }}</td>
                <td>{{ character.name }}</td>
                <td>{{ character.mainClass ? character.mainClass.class : '' }}</td>
                <td>{{ character.current_hit_points }}</td>
                <td>

                    <a class="btn btn-primary" href="{{ path('character.view', {slug: character.slug}) }}">
                        View
                    </a>
                    <a class="btn btn-outline-primary" href="{{ path('character.update', {slug: character.slug}) }}">
                        Update
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}