{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ character.name }}</h1>
    <a href="{{ path('character.update', {slug: character.slug}) }}">
        Edit
    </a>
    <h3>Classes</h3>
    <table>
        <thead>
        <tr>
            <th>Class</th>
            <th>Subclass</th>
            <th>Level</th>
        </tr>
        </thead>
        <tbody>
        {% for level in character.levels %}
        <tr>
            <td>{{ level.class }}</td>
            <td>{{ level.subClass }}</td>
            <td>{{ level.level }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Abilities</h3>
    <table>
        <thead>
        <tr>
            <th>Ability</th>
            <th>Value</th>
            <th>Modifier</th>
        </tr>
        </thead>
        <tbody>
        {% for value in character.abilities %}
            <tr>
                <td>{{ value.ability.value|capitalize }}</td>
                <td>{{ value.value }}</td>
                <td>{{ value.modifier }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Skills</h3>
    <table>
        <thead>
        <tr>
            <th>Skill</th>
            <th>Value</th>
            <th>Modifier</th>
        </tr>
        </thead>
        <tbody>
        {% for value in character.skills %}
        <tr>
                <td>{{ value.skill.value|capitalize }}</td>
                <td data-proficiency-for="{{ value.skill.value }}">{{ value.proficiencies }}</td>
                <td>{{ character.getSkillModifier(value.skill) }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Weapons</h3>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Modifier</th>
            <th>Ability</th>
            <th>Dice</th>
        </tr>
        </thead>
        <tbody>
        {% for value in character.weapons %}
            <tr>
                <td>{{ value.name }}</td>
                <td>{{ value.modifier }}</td>
                <td>{{ value.modifier_ability.value|capitalize }}</td>
                <td>{{ value.dice_count }}d{{ value.dice_type }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}